<nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
    <div class="container">
        <a class="navbar-brand" th:href="@{'/home'}">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/home/villas">Villa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Hotels</a>
                </li>
                <li class="nav-item" th:if="${#request.getRemoteUser()!=null}" sec:authorize="hasRole('ROLE_OWNER')">
                    <a class="nav-link" th:href="@{'/person/places'}">Owned places</a>
                </li>
                <li class="nav-item" th:if="${#request.getRemoteUser()!=null}">
                    <a class="nav-link" th:href="@{'/person/reservations'}">Your reservations</a>
                </li>
                <li class="nav-item" th:if="${#request.getRemoteUser()==null}">
                    <a class="nav-link" th:href="@{'/login'}">Login</a>
                </li>
                <li class="nav-item" th:if="${#request.getRemoteUser()!=null}">
                    <a class="nav-link" th:href="@{'/logout'}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

