<section id="header" class="jumbotron text-center">
    <h1 class="display-3">Change Password</h1>
    <p class="lead">In this section you can modify your password</p>
</section>


<div class="container">
    <form th:method="post" th:action="@{'/person/settings/changePassword'}">
        <div class="row">
            <div class="col-4">
                <h5>Old password</h5>
                <label for="oldPassword"></label><input required type="password"
                                                        class="input-group-text bg-transparent w-100"
                                                        id="oldPassword" name="oldPassword"
                                                        placeholder="Old Password">
            </div>
            <div class="col-4 ">
                <h5>Password</h5>
                <label for="password"></label> <input required id="password" name="password"
                                                      class="input-group-text bg-transparent w-100"
                                                      type="password" th:placeholder="'Password'">
            </div>
            <div class="col-4 ">
                <h5>Repeat password</h5>
                <label for="repeatPassword"></label><input required id="repeatPassword" name="repeatPassword"

                                                           class="input-group-text bg-transparent w-100" type="password"
                                                           th:placeholder="'Repeat password'">
            </div>
            <label hidden for="id"></label><input type="text" hidden id="id" name="id" th:value="${person.getId()}">
        </div>
        <br>
        <div class="row">
            <div class="col-12">
                <button class="btn btn-outline-dark w-100" type="submit">Change password</button>
            </div>
        </div>
    </form>
    <div>
        <p>Note: you will be logged out if this action is successful</p>
    </div>
</div>
