<section id="header" class="jumbotron text-center">
    <h1 class="display-3">Edit Reservation</h1>
    <p class="lead">In this section you can modify your reservation</p>
</section>

<div class="container">
    <form th:method="post" th:action="@{'/person/edit/reservation'}">
        <div class="row justify-content-center text-center align-content-center m-5">

                <div class="card shadow w-25" th:if="${reservation.getRoomType()} != null">
                    <div class="card-body">
                        <div class="btn-group btn-group-toggle"
                             data-toggle="buttons">
                            <label class="btn btn-primary" id="label1" onclick="activate()">
                                <input type="radio" id="roomType1" name="roomType"
                                       th:value="STANDARD" autocomplete="off" onclick="activate()">Standard room
                            </label>
                            <label class="btn btn-primary" id="label2" onclick="deactivate()">
                                <input type="radio" id="roomType2" name="roomType"
                                       th:value="VIP" autocomplete="off" onclick="deactivate()">VIP room
                            </label>
                        </div>
                    </div>
                </div>
        </div>
        <div class="row text-center">
            <div class="col">
                <label th:text="${reservation.getStart()} + ' Is the starting date'"></label>

            </div>
            <div class="col">
                <label th:text="${reservation.getFinish()} + ' Is the leaving date'"></label>

            </div>
            <label hidden for="id"></label><input hidden name="id" id="id" th:value="${reservation.getId()}">
        </div>
        <div class="row text-center mb-5">
            <div class="col">
                <input required id="start" name="start" type="date">
            </div>
            <div class="col">
                <input required id="end" name="end" type="date">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button type="submit" class="btn btn-outline-dark w-100">Edit this reservation</button>
            </div>
        </div>
    </form>

</div>