<div class="container">
    <th:block th:each="mapEntity, row : ${placeMap}">
        <th:block th:if="${row.index} == 0">
            <div class="row">
        </th:block>
            <div class="card col-4 p-2" style="width: 18rem;">
                <img th:src="${mapEntity.value}" class="card-img-top" alt="../static/default_image.jpg">
                <div class="card-body">
                    <h5 class="card-title" th:text="${mapEntity.key.getName()}">Card title</h5>
                    <p class="card-text" th:text="${mapEntity.key.getDescription()}"></p>
                    <a th:href="@{'/place/{id}' (id = ${mapEntity.key.getId()})}" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
    </th:block>
</div>
