<section id="header" class="jumbotron text-center">
    <h1 class="display-3">HOTELS</h1>
    <p class="lead">In this section you will find all the nearby hotels</p>
</section>

<section id="gallery">
    <th:block th:each="mapEntity, row :${hotels}">
        <hr>
        <div class="container">
            <div class="row">
                <div class="col-4"></div>
                <div class="col-lg-4 mb-4">
                    <div class="card">
                        <img th:src="${mapEntity.getValue()}"
                             alt="" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${mapEntity.key.getName()}"></h5>
                            <p class=" card-text" th:text="${mapEntity.key.getDescription()}"></p>
                            <a th:href="@{'/place/{id}' (id = ${mapEntity.key.getId()})}"
                               class="btn btn-outline-dark btn-sm">Go to page</a>
                        </div>
                    </div>
                </div>
                <div class="col-4"></div>
            </div>
        </div>
    </th:block>
    <nav aria-label="Page navigation example" class="mt-5">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link"
                   th:href="@{/home/hotels (size=${placePageSize}, page=${placePageNumber+1}, state=previous)}"
                   aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"
                th:each="pageNumber : ${pageNumbers}"
                th:classappend="${pageNumber==placePageNumber + 1} ? active">
                <a class="page-link"
                   th:href="@{/home/hotels (size=${placePageSize}, page=${pageNumber})}"
                   th:text="${pageNumber}"></a>
            </li>
            <li class="page-item">
                <a class="page-link"
                   th:href="@{/home/hotels (size=${placePageSize}, page=${placePageNumber + 1}, state=next)}"
                   aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</section>