<section id="header" class="jumbotron text-center">
    <h1 class="display-3">Owned Places</h1>
    <p class="lead">In this section you will find all the places you own</p>
</section>
<div class="container">
    <div class="row">
        <div class="col-2">Name</div>
        <div class="col-2">Location</div>
        <div class="col-2">Contact Number</div>
        <div class="col-2">View</div>
    </div>
    <hr>
    <th:block th:each="place:${places}">
        <div class="row">
            <div class="col-2" th:text="${place.getName()}"></div>
            <div class="col-2" th:text="${place.getLocation()}"></div>
            <div class="col-2" th:text="${place.getContactNumber()}"></div>
            <div class="col-2"><a class="btn btn-primary"
                                  th:href="@{'/person/places/{id}/reservations' (id=${place.getId()})}">View
                Reservations</a></div>
            <div class="col-2"><a class="btn btn-danger" th:href="@{'/place/delete/{id}'(id=${place.getId()})}">Delete
                this place</a></div>
            <div class="col-2"><a class="btn btn-info" th:href="@{'/place/edit/{id}'}">Edit Place</a></div>
        </div>
        <hr>
    </th:block>
</div>