<section id="header" class="jumbotron text-center">
    <h1 class="display-3">RESERVATIONS</h1>
    <p class="lead" th:text="'In this section you will find all the reservations for ' + ${PlaceName}"></p>
</section>
<div class="container">
    <div class="row">
        <div class="col-2">Arrival date</div>
        <div class="col-2">Leaving date</div>
        <div class="col-5">Person Information</div>
    </div>
    <hr>
    <th:block th:each="reservation:${reservations}">
        <div class="row">
            <div class="col-2" th:text="${reservation.getStart()}"></div>
            <div class="col-2" th:text="${reservation.getFinish()}"></div>
            <div class="col-6"
                 th:text="${reservation.getPersonId().getName()} + ' '+ ${reservation.getPersonId().getSurname()} "></div>
            <a class="col-2 btn btn-danger"
               th:href="@{'/person/reservations/delete/{id}'(id=${reservation.getId()})}">Cancel reservation
            </a>
        </div>
    </th:block>

    <nav aria-label="Page navigation example" class="mt-5">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link"
                   th:href="@{'/person/places/{id}/reservations' (size=${placePageSize}, page=${placePageNumber+1}, state=previous,id=${placeId})}"
                   aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"
                th:each="pageNumber : ${pageNumbers}"
                th:classappend="${pageNumber==placePageNumber + 1} ? active">
                <a class="page-link"
                   th:href="@{'/person/places/{id}/reservations' (size=${placePageSize}, page=${pageNumber}, id=${placeId})}"
                   th:text="${pageNumber}"></a>
            </li>
            <li class="page-item">
                <a class="page-link"
                   th:href="@{'/person/places/{id}/reservations' (size=${placePageSize}, page=${placePageNumber + 1}, state=next,id=${placeId})}"
                   aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>