<section id="header" class="jumbotron text-center text-black-80">
    <h1 th:text="${place.getName()}"></h1>
    <div class="row text-center">
        <div class="col-12">
            <h3 th:text="${place.getLocation()}"></h3>
        </div>
        <div class="col-12">
            <h5 th:text="${place.getDescription()}"></h5>
        </div>
        <div class="col-12">
            <h6 th:text="'Contact us at '+${place.getContactNumber()}+ '/ or '+ ${ownerPhone}"></h6>
        </div>
    </div>
    <div class="row">
        <th:block th:each="image:${images}">
            <div class="col-4">
                <div class="responsive">
                    <div class="gallery">
                        <a target="_blank" th:href="${image}">
                            <img th:src="${image}" alt="Clinque Terre" width="400" height="250">
                        </a>
                    </div>
                </div>
            </div>
        </th:block>
    </div>
</section>
<div class="container">
    <div class="border-1" th:if="${#request.getRemoteUser()!=null}">
        <form method="post" action="/reserve">

            <div class="row  justify-content-center align-content-center m-5">
                <div class="card shadow" th:if="${price2} > 0">
                    <div class="card-body">
                        <div class="btn-group btn-group-toggle"
                             data-toggle="buttons">
                            <label class="btn btn-primary" id="label1">
                                <input type="radio" id="roomType1" name="roomType"
                                       th:value="STANDARD" autocomplete="off" onclick="activate()">Standard room
                            </label>
                            <label class="btn btn-primary" id="label2">
                                <input type="radio" id="roomType2" name="roomType"
                                       th:value="VIP" autocomplete="off" onclick="deactivate()" th:text="'VIP room'">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <!--            <div class="row">-->
            <!--                <div class="col-5">-->
            <!--                    <h5 th:if="${price2}>0" th:text="'VIP room price:' + ${price2}"></h5>-->
            <!--                </div>-->
            <!--                <div class="col-5">-->
            <!--                    <h6 th:text="'Standard price:' + ${price1}"></h6>-->
            <!--                </div>-->
            <!--            </div>-->
            <div class="row text-center" th:if="${price2}<=0">
                <div class="col-12" th:text="'Price per night' + ${price1}"></div>
            </div>
            <div class="row">
                <div class="md-form md-outline input-with-post-icon datepicker col-6">
                    <label for="from">Check in</label> <input placeholder="Select date" type="date" id="from"
                                                              name="from"
                                                              class="form-control"
                                                              aria-placeholder="Starting date"
                                                              required>

                </div>
                <div class="md-form md-outline input-with-post-icon datepicker col-6">
                    <label for="end">Leave</label><input placeholder="Select date" type="date" id="end" name="end"
                                                         class="form-control"
                                                         aria-placeholder="End date"
                                                         required>

                </div>
            </div>
            <div class="row">
                <input hidden th:value="${place.getId()}" th:id="placeId" th:name="placeId">
            </div>
            <button type="submit" class="btn btn-outline-primary w-100">Make reservation</button>
            <th:block th:if="${param.hasError}">
                <h2 class="text-danger" th:text="${param.error}"></h2>
            </th:block>
        </form>
    </div>
</div>