<div class="container" xmlns:th="http://www.thymeleaf.org" xmlns:background-color="http://www.w3.org/1999/xhtml">
    <form class="form-signin mt-xl-5" method="post" action="/register">
        <p>
            <input type="text" id="name" name="name" class="form-control" placeholder="Name" required=""
                   autofocus="">
        </p>
        <p>
            <input type="text" id="surname" name="surname" class="form-control" placeholder="Surname" required=""
                   autofocus="">
        </p>
        <p>
            <input type="text" id="username" name="username" class="form-control" placeholder="Username" required=""
                   autofocus="">
        </p>
        <p>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password"
                   required="">
        </p>
        <p>
            <input type="password" id="repeatPassword" name="repeatPassword" class="form-control"
                   placeholder="Repeat Password"
                   required="">
        </p>
        <p class="mb-3">
            <input type="text" id="phoneNumber" name="phoneNumber" class="form-control" placeholder="Phone Number"
                   required=""
                   autofocus="">
        </p>

        <p class="row text-center">
            <label>
                Chose what type suits you most for future use
            </label>
        </p>
        <div class="row justify-content-center text-center align-content-center mb-4">
            <div class="col"></div>
            <div class="col card shadow mx-5">
                <div class="card-body">
                    <div class="btn-group btn-group-toggle"
                         data-toggle="buttons">
                        <label class="btn btn-primary" id="label1">
                            <input type="radio" id="role1" name="role"
                                   th:value="ROLE_USER" autocomplete="off" onclick="activate()">
                            Be an standard user
                        </label>
                        <label class="btn btn-primary" id="label2">
                            <input type="radio" id="role2" name="role"
                                   th:value="ROLE_OWNER" autocomplete="off" onclick="deactivate()">
                            Be an owner of places
                        </label>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>

        <button id="submit" class="btn btn-lg btn-primary btn-block" type="submit" onmouseup="popUp()">Register</button>
        <th:block th:if="${param.hasError}">
            <h2 class="text-danger" th:text="${param.error}"></h2>
        </th:block>
    </form>

</div>