<div class="container" xmlns:th="http://www.thymeleaf.org" xmlns:background-color="http://www.w3.org/1999/xhtml">
    <form class="form-signin mt-xl-5" method="post" action="/register">
        <p>
            <input type="text" id="name" name="name" class="form-control" placeholder="Name" required=""
                   autofocus="">
        </p>
        <p>
            <input type="text" id="surname" name="surname" class="form-control" placeholder="Surname" required=""
                   autofocus="">
        </p>
        <p>
            <input type="text" id="username" name="username" class="form-control" placeholder="Username" required=""
                   autofocus="">
        </p>
        <p>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password"
                   required="">
        </p>
        <p>
            <input type="password" id="repeatPassword" name="repeatPassword" class="form-control"
                   placeholder="Repeat Password"
                   required="">
        </p>
        <p>
            <input type="text" id="phoneNumber" name="phoneNumber" class="form-control" placeholder="Phone Number"
                   required=""
                   autofocus="">
        </p>

        <button id="submit" class="btn btn-lg btn-primary btn-block" type="submit" onmouseup="popUp()">Register</button>
        <th:block th:if="${param.hasError}">
            <h2 class="text-danger" th:text="${param.error}"></h2>
        </th:block>
    </form>

</div>