<section id="header" class="jumbotron text-center">
    <h1 class="display-3">RESERVATIONS</h1>
    <p class="lead">In this section you can find all your reservations</p>
</section>

<div class="container">
    <div class="container-fluid">
        <hr>
        <div class="row">
            <div class="col-2">Arriving date</div>
            <div class="col-2">Leaving date</div>
            <div class="col-2">Name</div>
            <div class="col-1">Total amount</div>
        </div>
        <hr>
        <th:block th:each="reservation:${reservations}">
            <div class="row">
                <div class="col-2" th:text="${reservation.getStart()}"></div>
                <div class="col-2" th:text="${reservation.getFinish()}"></div>
                <div class="col-2" th:text="${reservation.getPlaceId().getName()}"></div>
                <div class="col-2" th:text="${reservation.getPrice()} + ' Денари'"></div>
                <div class="col-1"><a class="btn btn-primary"
                                      th:href="@{'/person/reservations/edit/{id}' (id=${reservation.getId()})}">Change</a>
                </div>
                <a class="col-2 btn btn-danger"
                   th:href="@{'/person/reservations/delete/{id}'(id=${reservation.getId()})}">Cancel reservation
                </a>
            </div>
            <hr>
        </th:block>
    </div>
</div>